manifest {
    name = 'NGS Pipeline'
    author = 'Ugochi Ndubuisi'
    description = 'Automated NGS data analysis pipeline'
    version = '1.0.0'
}

process {
    executor = 'local'
    cpus = 4
    memory = '8 GB'
    time = '2h'
    
    withName: FASTQC {
        cpus = 2
        memory = '4 GB'
    }
    
    withName: BWA_MEM {
        cpus = 8
        memory = '16 GB'
    }
}

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}
